requests
discord~=2.3.0
Pillow
battlefy-toolkit-slate>=1.2.1
SlappPy-Slate==1.14.7
python-dotenv~=0.17.1
trueskill~=0.4.5
python-dateutil~=2.8.1
gspread~=5.1.1

setuptools
psycopg2~=2.8.6
smashggpy~=0.0.29
beautifulsoup4~=4.9.3